html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a,
p {
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
    /*   color: #B24904;   point color: 111*/
}

font {
    /* 메인 글씨 weight 100, 400 */
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
    text-align: center;
}

#wrap {
    width: 100%;
    height: 8524px;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

/********************** p1 **********************/
#p1 {
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    /* background: red; */
}

/* 공통되는 header 메뉴 부분 */
header {
    width: 600px;
    height: 150px;
    /* margin-top: -15%; */
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

header ul {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: purple; */
}

header ul li {
    float: left;
    width: 130px;
    height: 50px;
    background: #F0EBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
}

header ul li:hover {
    background: #5157D0;
    /* box-shadow: 5px 5px 5px 5px rgba(50, 50, 255, 1) inset; */
}

header ul li:hover a {
    color: #fff;
}

#p1 section {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: green; */

}

#p1 section p {
    width: 80%;
    /*모든 section mid는 80으로 고정하기!!!!!!!*/
    height: 30%;
    font-size: 4em;
    font-weight: 400;
    text-align: left;
    line-height: 2em;
    /* background: black; */
}

/********************** p2 **********************/
#p2 {
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    /* background: green; */
}

#p2 header ul li:first-child {
    background: #5157D0;
}

#p2 header ul li:first-child a {
    color: #fff;
}

#p2 section {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    /* background: orange; */
}

#p2 section div {
    width: 90%;
}

#p2 section div hr {
    width: 100%;
    border-width: 1px;
    border-color: #111;
}

#p2 section div.p2_con1 {
    height: 25%;
    /* background: pink; */
}

#p2 section div.p2_con2 {
    height: 40%;
    /* background: lightpink; */
}

#p2 section div.p2_con3 {
    height: 35%;
    /* background: lightpink; */
}

#p2 section div.p2_con1 .hak,
#p2 section div.p2_con2 .ja,
#p2 section div.p2_con3 .ex {
    width: 98%;
    height: 85%;
    margin: 0 auto;
    margin-top: 1%;
    /* background: red; */
}

#p2 section div.p2_con1 .hak .hak_l,
#p2 section div.p2_con2 .ja_l,
#p2 section div.p2_con3 .ex .ex_l {
    float: left;
    width: 17%;
    height: 100%;
    /* background: blue; */
}

#p2 section div.p2_con1 .hak .hak_r,
#p2 section div.p2_con2 .ja_r,
#p2 section div.p2_con3 .ex .ex_r {
    float: left;
    width: 83%;
    height: 100%;
    /* background: lightblue; */
}

#p2 section div.p2_con1 .hak .hak_l p,
#p2 section div.p3_con2 .ja_l p #p3 section div.p3_con3 .ex_l p {
    font-size: 1em;
}

#p2 section div.p2_con1 .hak .hak_r p:first-child {
    font-size: 1.3em;
    margin-bottom: 1%;
}

#p2 section div.p2_con1 .hak .hak_r p:nth-child(n+2):nth-child(-n+3) {
    font-size: 1em;
    line-height: 1.75em;
}

#p2 section div.p2_con2 .ja_r p:nth-child(3n+1),
#p2 section div.p2_con3 .ex_r p:nth-child(3n+1) {
    font-size: 1.3em;
    margin-bottom: 1%;
}

#p2 section div.p2_con1 .hak .hak_r p.since {
    text-align: right;
    font-size: 1em;
    font-weight: 100;
    margin-top: 10%;
}

#p2 section div.p2_con2 .ja_r p.since,
#p2 section div.p2_con3 .ex_r p.since {
    text-align: right;
    font-size: 1em;
    font-weight: 100;
    margin-top: 2%;
}

#p2 section div.p2_con2 .ja_r hr,
#p2 section div.p2_con3 .ex_r hr {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-color: #fff;
    border-width: 1px 0 0 0;
}

/********************** p3 **********************/
#p3 {
    width: 100%;
    height: 2500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    /* background: goldenrod; */
}

#p3 header ul li:nth-child(2) {
    background: #5157D0;
}

#p3 header ul li:nth-child(2) a {
    color: #fff;
}

/* 웹 표 */
#p3 section {
    width: 100%;
    height: 75%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: orange; */
}
.p3_con{
    width: 90%;
    height: 100%;
    /* background: darkorange; */
}
.web_table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.web_table td {
    width: 25%;
    height: 25%;
    border-color: black;
    border: none;
    overflow: hidden;
    word-break: break-all;
}

.tg-0lax > div{
    width: 85%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: purple; */
}

.web_img, .adobe_img{
    width: 100%;
    height: 55%;
    /* background: green; */
}
.web_img a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.web_img img{
    width: 100%;
    height: 80%;
    transition: 0.5s;
}
.web_con, .adobe_con{
    width: 100%;
    height: 45%;
    position: relative;
    /* background: red; */
}
.web_con p:first-child, .adobe_con p:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.web_con p, .adobe_con p{
    font-size: 13px;
    line-height: 23px;
}
.web_con p:last-child, .adobe_con p:last-child{
    font-size: 15px;
    font-weight: 100;
    position: absolute;
    bottom: 15%; right: 0;
}

.web_img img:hover{
    height: 120%;
    object-fit: cover;
}

.adobe_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adobe_img img{
    width: 50%;
    height: auto;
    transition: 0.5s;
    cursor: pointer;
}
.adobe_img img:hover{
    width: 60%;
    height: auto;
}
.web_table .tg-0lax {
    /* text-align: left;
    vertical-align: top; */
}



/********************** p4 **********************/
#p4 {
    width: 100%;
    height: 3000px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    /* background: yellow; */
}

#p4 header ul li:last-child {
    background: #5157D0;
}

#p4 header ul li:last-child a {
    color: #fff;
}

/* p4_con 웹 표 */
#p4 section {
    width: 100%;
    height: 85%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: orange; */
}

.p4_con{
    width: 90%;
    height: 100%;
    /* background: darkorange; */
}

.goods_table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.goods_table td {
    width: 25%;
    height: 14.2%;
    border: none;
    overflow: hidden;
    word-break: normal;
}

.tg-1lax > div{
    width: 85%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* background: purple; */
}

.goods_con{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 0;
    /* background: red; */
}
.goods_con p{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.goods_img{
    width: 90%;
    height: 85%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: green; */
}

.goods_img img{
    width: 200px;
    height: 200px;
    transition: 0.7s;
    cursor: pointer;
}
.goods_img img:hover{
    filter: drop-shadow(8px 8px 8px #555);
}
.phonecase > .pc1 img{
    width: 200px;
    height: 200px;
}
.phonecase > .pc2 img, .pc3 img{
    width: 150px;
    height: 180px;
}
.phonecase > .pc4 img{
    width: 130px;
    height: 180px;
}
.post > .goods_img img{
    width: 180px;
}
.photo > .pt1 img{
    width: 180px;
    
}
.photo > .pt2 img{
    width: 150px;
    height: 150px;
}
.cup > .c1 img, .cup > .c2 img{
    width: 280px;
    height: 150px;
}
.cup > .c3 img{
    width: 180px;
    height: 180px;
}
.cup > .c4 img{
    width: 170px;
    height: 170px;
}
.etc > .etc2 img{
    width: 300px;
    height: 200px;
}

/* .goods_table .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
} */

/* .introduce p.cursor {animation: cursor 0.3s infinite;}

@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
} */

/* layer popup */
#layerpop{
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255, 0.9);
    /* background: red; */
    position: absolute;
    top: 7000px; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 60;
    /* border-radius: 50% 50% 10% 10%; */
    border-radius: 50% 50%;
}
.close{
    right: 15px; top: 10px;
    position: absolute;
    cursor: pointer;
}
#layerpop .l_img{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
}
#layerpop .l_img img{
    width: auto;
    height: 300px;
}

#layerpop .l_con{
    width: 80%;
    height: 30%;
    /* background: yellow; */
}
.l_con_list li{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#layerpop .l_con p:first-child{
    width: 30%;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
#layerpop .l_con p:last-child{
    width: 30%;
    font-size: 18px;
    font-weight: 100;
    text-align: right;
}


.bg{
    display: none;
    width: 100%;
    height: 8524px;
    background: rgba(0,0,0,0.6);
    z-index: 50;
    position: absolute;
    top: 0; left: 0;
}