* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a,
p, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
    /*   color: #B24904;   point color: 111*/
}

font {
    /* 메인 글씨 weight 100, 200, 300, 400, 500 */
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li{
    list-style: none;
    /* text-align: center; */
}

/********** main ***********/
.main{
    width: 85%;
    min-height: 100vh;
    margin: auto;
    position: relative;
}

/* 메뉴 */
.nav_links{
    /* display: flex; */
    text-align: right;
}
.nav_links ul  li{
    display: inline-block;
    margin-top: 5%;
    padding: 15px 30px;
    position: relative;
}

.nav_links ul li a{
    color: black;
    font-size: 20px;
    /* font-weight: 400; */
}

.nav_links ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #5157D0;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li a:hover::after{
    width: 100%;
}

/* 하위메뉴 */
.sub_nav{
    display: none;
    position: absolute;
    text-align: left;
    margin-top: 20px;
    left: 0;
}

/* 소개 글자 */
.hsj{
    width: 100%;
    height: 45vh;
    position: absolute;
    bottom: 5%;
}
.hsj p{
    font-size: 56px;
    font-weight: 400;
}

/********** introduce ***********/

/* 프로필 사진 및 인적사항 */
.profile{
    width: 85%;
    margin: auto;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.profile_left{
    width: 35%;
    
}
.profile_left img{
    width: 180px;
    height: auto;
    margin: 35% 10% 15%; 
    filter: drop-shadow(-5px 5px 10px #999);
}
.profile_left ul{
    margin-left: 10%;
}
.profile_left ul li{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* text-align: justify; */
}
.profile_left ul li h3{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: justify;
    width: 70px;
}
.profile_left ul li p{
    font-size: 16px;
    font-weight: 400;
    color: #555;
    padding-left: 8%;
    display: inline;
}

/* 약력, 보유스킬, 자격증 */
/* 약력 */
.profile_right{
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
}
.profile_right div{
    width: 90%;
    flex-basis: 33%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    /* box-shadow: inset 2px 2px rgba(0,0,0,0.15); */
    border-radius: 20px;
    margin: 2% 0;
    padding: 4%;
    transition: 0.7s;
}
.profile_right div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
.profile_con{
    width: 100%;
    background: #fff;
}
.profile_con h3{
    /* display: inline; */
    position: relative;
}
.profile_con a{
    font-size: 15px;
    color: #5157D0;
    position: absolute;
    right: 7%;
    top: 12.5%;
    transition: 1s;
}

.profile_con a:hover{
    text-decoration: underline;
    text-decoration-color: #5157D0;
    text-decoration-style: wavy;
}
.profile_con ul li h4{
    display: inline;
}
.profile_con ul li{
    padding: 3.5px 0;
}
.profile_con ul li p{
    text-align: left;
    position: relative;
}
.profile_con ul li p span{
    right: 0;
    position: absolute;
}
/* 보유스킬 */
.skills{
    width: 100%;
    background: rgba(82, 87, 208, 0.2);
}
.skills ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.skills li{
    flex-basis: 28%;
    padding: 5px 0;
}
.progress{
    display: inline-block;
    width: 100%;
    height: 15px;
    background-color: #f2f2f2;
    box-shadow: inset -2px -2px rgba(0,0,0,0.15);
    position: relative;
    border-radius: 10px;
}

.progress span{
    display: inline-block;
    width: 55%;
    height: 100%;
    background-color: #5157D0;
    box-shadow: inset 4px -4px rgba(0,0,0,0.15);
    position: absolute;
    left: 0; top: 0;
    border-radius: 10px;
}
.css_progress span{
    width: 45%;
}
.ai_progress span{
    width: 45%;
}
.ps_progress span{
    width: 25%;
}
.ai_progress span{
    width: 45%;
}
.pro_progress span{
    width: 55%;
}
.fig_progress span{
    width: 40%;
}
/* 자격증 */
.certificate{
    width: 100%;
    background: #fff;
}
.certificate ul li{
    width: 90%;
    padding: 1.5px 0;
}
.certificate ul li h4{
    display: inline;
    text-align: left;
    position: relative;
}
.certificate ul li p{
    display: inline;
    position: absolute;
    right: 7%;
}

/* common */
.profile_right div h3{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 7px 0;
}
.profile_right div ul li h4{
    font-size: 16px;
    font-weight: 500;
    color: #444;
}
.profile_right div p{
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

/*********** portfolio ***********/
/* publishing */
.portfolio{
    width: 100%;
    position: relative;
    background: #fff;
}
.publishing{
    /* padding-top: 25%; */
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/web/publishing.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* goods */
.goods{
    width: 85%;
    margin: auto;
    padding-top: 2%;
}
.goods div{
    margin-bottom: 10%;
}
.goods h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.goods ul{
    display: flex;
    justify-content: space-between;
}

.goods ul.col_4{
    box-sizing: border-box;
}
.goods ul.col_4 li{
    flex-basis: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.goods ul li img{
    width: 200px;
    transition: 0.5s;
    cursor: pointer;
    display: block;
}
.goods ul li img:hover{
    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.3));
}
.goods ul li h5{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    letter-spacing: 1.3px;
}
.goods ul li:hover h5{
    opacity: 1;
    bottom: -20%;
} 

/* bx */
.bx{
    padding-top: 85%;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/web/bx.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* common */
section > h3{
    text-align: left;
    margin: 10% 5%;
    font-size: 30px;
    width: min-content;
    /* text-decoration: underline;
    text-decoration-color: #5157D0;
    text-decoration-style: wavy; */
}
section > h3::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #5157D0;
    display: block;
}


/*********** footer ***********/
footer{
    width: 60%;
    padding: 20% 5%;
    margin: auto;
}
footer .footer{
    padding: 45px 35px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    position: relative;
    transition: 1s;
}
footer .footer:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
footer p{
    color: #666;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 2.5%;
    letter-spacing: 3px;
    
}
footer h2{
    letter-spacing: 3px;
    display: inline;

}
footer a{
    position: absolute;
    right: 5%;
}
footer i{
    color: #5157D0;
    font-size: 20px;
}
