html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a,
p {
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
    /*   color: #B24904;   point color: 111*/
}

font {
    /* 메인 글씨 weight 100, 400 */
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
    text-align: center;
}

#wrap {
    width: 100%;
    height: 7224px;
    margin: 0 auto;
    background: #fff;
}

/********************** p1 **********************/
#p1 {
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    /* background: red; */
}

/* 공통되는 header 메뉴 부분 */
header {
    width: 600px;
    height: 150px;
    /* margin-top: -15%; */
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

header ul {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: purple; */
}

header ul li {
    float: left;
    width: 130px;
    height: 50px;
    background: #F0EBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
}

header ul li:hover {
    background: #5157D0;
    /* box-shadow: 5px 5px 5px 5px rgba(50, 50, 255, 1) inset; */
}

header ul li:hover a {
    color: #fff;
}

#p1 section {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: green; */

}

#p1 section p {
    width: 80%;
    /*모든 section mid는 80으로 고정하기!!!!!!!*/
    height: 30%;
    font-size: 4em;
    font-weight: 400;
    text-align: left;
    line-height: 2em;
    /* background: black; */
}

/********************** p2 **********************/
#p2 {
    width: 100%;
    height: 2500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    background: goldenrod;
}

#p2 header ul li:first-child {
    background: #5157D0;
}

#p2 header ul li:first-child a {
    color: #fff;
}

/********************** p3 **********************/
#p3 {
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    /* background: green; */
}

#p3 header ul li:nth-child(2) {
    background: #5157D0;
}

#p3 header ul li:nth-child(2) a {
    color: #fff;
}

#p3 section {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    /* background: orange; */
}

#p3 section div {
    width: 90%;
}

#p3 section div hr {
    width: 100%;
    border-width: 1px;
    border-color: #111;
}

#p3 section div.p3_con1 {
    height: 25%;
    /* background: pink; */
}

#p3 section div.p3_con2 {
    height: 40%;
    /* background: lightpink; */
}

#p3 section div.p3_con3 {
    height: 35%;
    /* background: lightpink; */
}

#p3 section div.p3_con1 .hak,
#p3 section div.p3_con2 .ja,
#p3 section div.p3_con3 .ex {
    width: 98%;
    height: 85%;
    margin: 0 auto;
    margin-top: 1%;
    /* background: red; */
}

#p3 section div.p3_con1 .hak .hak_l,
#p3 section div.p3_con2 .ja_l,
#p3 section div.p3_con3 .ex .ex_l {
    float: left;
    width: 17%;
    height: 100%;
    /* background: blue; */
}

#p3 section div.p3_con1 .hak .hak_r,
#p3 section div.p3_con2 .ja_r,
#p3 section div.p3_con3 .ex .ex_r {
    float: left;
    width: 83%;
    height: 100%;
    /* background: lightblue; */
}

#p3 section div.p3_con1 .hak .hak_l p,
#p3 section div.p3_con2 .ja_l p #p3 section div.p3_con3 .ex_l p {
    font-size: 1em;
}

#p3 section div.p3_con1 .hak .hak_r p:first-child {
    font-size: 1.3em;
    margin-bottom: 1%;
}

#p3 section div.p3_con1 .hak .hak_r p:nth-child(n+2):nth-child(-n+3) {
    font-size: 1em;
    line-height: 1.75em;
}

#p3 section div.p3_con2 .ja_r p:nth-child(3n+1),
#p3 section div.p3_con3 .ex_r p:nth-child(3n+1) {
    font-size: 1.3em;
    margin-bottom: 1%;
}

#p3 section div.p3_con1 .hak .hak_r p.since {
    text-align: right;
    font-size: 1em;
    font-weight: 100;
    margin-top: 10%;
}

#p3 section div.p3_con2 .ja_r p.since,
#p3 section div.p3_con3 .ex_r p.since {
    text-align: right;
    font-size: 1em;
    font-weight: 100;
    margin-top: 2%;
}

#p3 section div.p3_con2 .ja_r hr,
#p3 section div.p3_con3 .ex_r hr {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-color: #fff;
    border-width: 1px 0 0 0;
}

/********************** p4 **********************/
#p4 {
    width: 100%;
    height: 3000px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    background: yellow;
}

#p4 header ul li:last-child {
    background: #5157D0;
}

#p4 header ul li:last-child a {
    color: #fff;
}




/* .introduce p.cursor {animation: cursor 0.3s infinite;}

@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
} */